*{
	margin:0;
	padding:0;
}
body{
	margin:1em;
	background-color:#D8D8D8;
	font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif;
	color:green;
}

input{
    margin:2px auto;
     padding:2px;
}

table tr th{
	border:solid #80ff80 1px;
	background-color:#F2F2F2;
	width:150px;
	
	
}
table tr td{
	text-align: center;
}

a{
	text-decoration:none;
	color:green;
	
}

form
{
   /*float:left;*/
   padding:20px;
   cursor:pointer;
   display:block;
   width:290px;
   margin: auto 10px;
   text-align:center;
}
legend
{
   
   font-weight: bold;
}
label
{
   display: block;
   padding:5px;
   margin:2px;
   cursor:pointer;
}